__pycache__/
*.py[cod]
backend/venv/
backend/*.db
backend/.env
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/*.tfstate
infra/*.tfstate.*
infra/*.tfvars
infra/tfplan
backend/.pytest_cache/
frontend/dist/
